html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Georgia, "Times New Roman", serif;
    background: #ECE6DF;
    color: #0F3F49;
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
}

header {
    background: #0F3F49;
    color: #ECE6DF;
    padding: 25px 15px;
}

header h1 {
    margin: 0 0 15px;
    font-size: 20px;
}

nav {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px 25px;
}

nav a {
    color: #ECE6DF;
    text-decoration: none;
    font-size: 18px;
}

nav a:hover{
    text-decoration: underline;
}
.button:hover {
    background-color: #0F3F49;
}

section {
    min-height: 90vh;
    padding: 60px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section h2 {
    margin: 0 0 20px;
    font-size: 50px;
}

section p {
    max-width: 700px;
    margin: 10px auto;
    font-size: 20px;
    line-height: 1.6;
}


.home {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.home > div {
    max-width: 600px;
}

.home h2 {
    margin: 0 0 10px;
    color: #0F3F49;
    font-size: 60px;
}

.home h3 {
    margin: 0 0 15px;
    color: #7F0508;
    font-size: 28px;
}

.home p {
    margin: 0 auto;
}

.home img {
    width: 280px;
    height: 280px;
    object-fit: cover;
    border: 6px solid #0F3F49;
}


.button {
    display: inline-block;
    margin-top: 25px;
    padding: 14px 25px;
    background: #7F0508;
    color: #ECE6DF;
    text-decoration: none;
    font-weight: bold;
}


#city,
#hobby {
    background: #0F3F49;
    color: #ECE6DF;
}

#city h2,
#city p,
#hobby h2,
{
    color: #ECE6DF;
}


.hobbies {
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 100%;
    max-width: 900px;
}

.hobbies div {
    width: 30%;
    padding: 20px;
    background: #ECE6DF;
    color: #0F3F49;
}

.hobbies h3 {
    color: #7F0508;
}

.hobbies p {
    color: #0F3F49;
    font-size: 18px;
}


.music {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
}

.music a {
    padding: 14px 25px;
    background: #0F3F49;
    color: #ECE6DF;
    text-decoration: none;
    font-weight: bold;
}


footer {
    padding: 20px;
    background: #0F3F49;
    color: #ECE6DF;
}


@media (max-width: 700px) {

    section {
        min-height: auto;
        padding: 50px 15px;
    }

    .home {
        flex-direction: column;
        gap: 30px;
    }

    .home h2 {
        font-size: 45px;
    }

    .home h3 {
        font-size: 24px;
    }

    .home img {
        width: 220px;
        height: 220px;
    }

    .hobbies {
        flex-direction: column;
    }

    .hobbies div {
        width: 100%;
    }

    .music {
        flex-direction: column;
        width: 100%;
    }

    .music a,
    .button {
        width: 100%;
    }
}
